[2014-10-28 22:03] alcarney opened #1 "Fix Menu Styles"
When the window is narrow enough the background for the menu text becomes narrow than the text it's supposed to be behind and so the text extends into the background image making it illegible.

See attached screenshot
![issue](https://cloud.githubusercontent.com/assets/2675694/4817935/2bdf09cc-5eee-11e4-88ae-3a4d38936c26.png)

[2014-11-06 17:13] #1 closed, assigned to nobody

[2014-11-12 11:48] timothyf1 opened #2 "languages sub menu on touch devices doesn't display correctly"
On the navbar when trying to select the languages sub menu under inspiration,
It displays for a splitsecont and then disappears

[2014-11-27 17:45] #2 closed, assigned to nobody

[2014-12-05 11:32] timothyf1 opened #3 "Video is not responsive"
As shown in pic video is not responsive

![wp_ss_20141205_0001](https://cloud.githubusercontent.com/assets/7631968/5315198/54b5f800-7c72-11e4-80d4-ce3054b228a1.png)

[2014-12-05 11:45] #3 closed, assigned to timothyf1

[2014-12-05 15:30] AdamPohl opened #4 "It's dead Jim!!!"
![2014-12-05 15 27 21](https://cloud.githubusercontent.com/assets/8998661/5317950/9411cfd0-7c93-11e4-8fca-6e575c5c200b.png)

[2014-12-06 09:41] #4 closed, assigned to nobody

[2014-12-14 15:58] drvinceknight opened #5 "Comments not working on blog posts"
I've added a blog to the site, I've also added comments via [https://disqus.com/](https://disqus.com/) but they do not seem to be rendering. I'm guessing this has something to do with the underlying css.

If you want to take a look at the way these comments work on my own blog take a look here: [https://github.com/drvinceknight/unpeudemath/blob/gh-pages/_layouts/post.html](https://github.com/drvin

[2014-12-14 16:10] drvinceknight opened #6 "Code of conduct - please discuss"
This isn't an issue with regards to code per say but an opening discussion about a potential code of conduct that I would like to add to the site and to code club in general.

I in no way intend to make this something oppressive but I just want a nice thing for us to all be aware off (in particular for example when it comes to helping new coders and/or writing blog posts). So (just to get things s

[2014-12-14 16:47] drvinceknight opened #7 "Build a better favicon"
I've just added a favicon to the site (the small little picture that appears on browsers - you might need to refresh a couple of times the first time you see it).

The favicon I've added is absolutely terrible (a tiny square with the words code club on it that you can hardly see). Someone might want to create a better one. Here's my effort:

![favicon](https://cloud.githubusercontent.com/assets/21

[2014-12-15 22:30] AdamPohl opened #8 "Can't get gif and pics to show up on webpage."
![problem with first draft](https://cloud.githubusercontent.com/assets/8998661/5445219/e0b1967c-84a9-11e4-8ce6-49e0fe5f1c12.png)

Calling the almighty Janitor to fix this

[2014-12-15 23:01] #5 closed, assigned to nobody

[2014-12-16 22:34] #8 closed, assigned to nobody

[2014-12-17 20:32] alcarney opened #9 "Unit Testing Links?"
Having just finished writing the initial draft for the C language page, I think I counted 10-12 links and that was being conservative. I'm pretty sure we could easily add another 10 as we start adding more information and linking internally to the other lanaguage pages. Not to mention other pages as they are added to the site.

So is it possible using Selenium or something similar (since Selenium

[2014-12-20 16:33] #7 closed, assigned to nobody

[2014-12-20 16:42] drvinceknight opened #10 "Tutorials?"
Loving the languages and editors pages guys. I thought that it could be nice to perhaps put them under a more general 'Tutorials' section and then a collection of 'How to's' could start building up (including disqus comments also).

This could range from hello worlds in various languages to things like using git, gource, maybe @Huaraz2 could write about hacking atom etc...?

Just a though and will

[2015-01-08 10:53] Huaraz2 opened #11 "Where are the bullet points gone?"
![screenshot_2015-01-08-10-50-18](https://cloud.githubusercontent.com/assets/8998661/5661505/7c9d76aa-9724-11e4-9a06-52cd49393703.png)

[2015-01-08 10:53] Huaraz2 commented on #11
I call on the almighty power of the code janitor

[2015-01-08 11:13] #11 closed

[2015-01-29 15:42] drvinceknight opened #12 "29/01/2014 things I might work on today"
- Sorting out the sessions thing (need to differentiate by term)
- Adding a GA tracker to the templates

[2015-01-29 21:50] #12 closed

[2015-02-06 17:08] Huaraz2 opened #13 "IGNORE THIS ISSUE THIS IS BECAUSE I AM LAZY"
![where-is-everyone-pic1](https://cloud.githubusercontent.com/assets/8998661/6083710/a2b12534-ae22-11e4-8b1e-579c388ab4c2.jpg)
![where-is-everyone-pic2](https://cloud.githubusercontent.com/assets/8998661/6083712/a2b544f2-ae22-11e4-8481-374e9cc22023.jpg)
![where-is-everyone-pic3](https://cloud.githubusercontent.com/assets/8998661/6083711/a2b2c038-ae22-11e4-8bea-5377f346ae30.jpg)
![where-is-everyone

[2015-02-06 17:13] #13 closed

[2015-02-22 17:23] alcarney commented on #9
Maybe we could use this somehow, we might have to run it locally somewhere https://github.com/bamos/girl

[2015-02-22 21:44] drvinceknight commented on #9
Looks neat, I've figured out travis this weekend: might be able to use that (so ridiculously powerful).

[2015-02-22 21:44] alcarney commented on #9
Cool I've been wanting to look into Travis for a while now

On Sun, 22 Feb 2015 21:44 Vincent Knight <notifications@github.com> wrote:

[2015-02-22 21:45] drvinceknight commented on #9
We can play around with it on Friday if you want: so cool.

(It's implemented on my Axelrod repo)

On Sun Feb 22 2015 at 9:44:53 PM Alex Carney <notifications@github.com>
wrote:

[2015-02-26 14:57] JasYoung314 opened #14 "High quality version of site icon"
If whoever created the icon for the site could get me the original quality one for use as the organisations github profile photo.

[2015-02-26 15:06] alcarney commented on #14
Ok hopefully I still have it somewhere. ...

On Thu, 26 Feb 2015 14:57 Jason Young <notifications@github.com> wrote:

[2015-02-26 19:20] JasYoung314 commented on #14
That's all done, thanks Alex!

[2015-02-27 09:14] #14 closed

[2015-04-10 20:54] timothyf1 opened #16 "Links that haven't been visited are now blue and disappear when hovering over them"
See screenshot 3rd bullet point of Programming challenges
![screenshot 69](https://cloud.githubusercontent.com/assets/7631968/7097261/48d49378-dfd4-11e4-8278-57ed75d72265.png)

[2015-04-11 14:24] #16 closed

[2015-10-09 08:42] drvinceknight opened #17 "Blog post for first editor off"
Hi guys, I've started a blog post about the editor off: https://github.com/CardiffMathematicsCodeClub/CardiffMathematicsCodeClub.github.io/blob/editor-off-1/_drafts/the-first-editor-off.md

@Huaraz2, @alcarney and @sluenenglish add a quick description of what you did :+1:

Keep it in `_drafts` and on the `editor-off-1` branch for now.

[2015-10-09 09:59] sluenenglish commented on #17
I've added my bit :+1:

[2015-10-09 11:16] drvinceknight commented on #17
I meant the output of `git status` which would/could automatically spit out files you don't want or haven't added yet, it would also go through the directory tree.

[2015-10-09 12:36] sluenenglish commented on #17
I just changed that sentence, let me know if it's still not right

[2015-10-09 13:08] drvinceknight commented on #17
:+1:

[2015-10-13 06:53] #17 closed

[2015-10-15 18:50] alcarney opened #19 "Roadmap for new contributors"
I think it would be good if we compiled a quick reference for potential new contributors telling them where they can find certain elements of the site that they may wish to change e.g.

- How to add items to the menus
- How the site structured (what's included by default in headers etc.)
- Clearly marking stuff that never should be touched (like the section in _includes/head.html which adds the go

[2015-10-15 18:53] drvinceknight commented on #19
README or wiki sounds great.

This should be coupled by sitting down and walking people through it. Perhaps next week we could do that? Have someone on the monitor showing people what to do?

[2015-10-15 18:53] drvinceknight opened #20 "Blog post for second editor off"

[2015-10-15 18:54] alcarney opened #21 "Travis?"
Is it worth us integrating travis to this repository? It looks like it's possible [see here](http://jekyllrb.com/docs/continuous-integration/)

I know we don't have many tests.... yet ;) But it might act as incentive gradually adding more tests increasing coverage and seeing all our builds pass and then we can be sure that any new additions aren't going to bring any surprises....

Or is not worth

[2015-10-15 19:02] drvinceknight commented on #21
Definitely worth it.

Love the idea.

[2015-10-15 19:12] alcarney commented on #20
Draft post can be found [here](https://github.com/CardiffMathematicsCodeClub/CardiffMathematicsCodeClub.github.io/blob/editor-off-2/_drafts/editor-off-2.md)

[2015-10-15 21:23] drvinceknight commented on #6
I would like to revisit this, possibly put something exactly like on the pydiff site (just pointing at the python CoC): http://www.pydiff.wales/conduct/

[2015-10-17 11:22] drvinceknight commented on #20
I have written my post and so has @Huaraz2

[2015-10-22 17:10] Huaraz2 opened #23 "Colenel Sarge broke the website"
![website is broken](https://cloud.githubusercontent.com/assets/8998661/10672382/a8542f28-78e7-11e5-995f-ab6a675da515.png)

I SUMMON THE CODE JANITOR

[2015-10-22 17:20] alcarney commented on #23
Turn my back for 5 minutes.... ;)

[2015-10-22 20:54] drvinceknight commented on #23
:+1: :smile: :muscle: :shipit: :shipit: :shipit:

[2015-10-22 20:54] drvinceknight commented on #23
:bow: :bow: :bow: :shipit:

[2015-10-27 10:39] #6 closed

[2015-10-27 14:46] Huaraz2 commented on #23
@drvinceknight you have well and truly BROKE THE WEBSITE, @timothyf1 fixed it but it will not update
![how](https://cloud.githubusercontent.com/assets/8998661/10761485/8807e84c-7cb9-11e5-96fd-8cac38f4c9d2.png)

[2015-10-27 14:59] #23 closed

[2015-10-27 14:59] Huaraz2 commented on #23
fixed in all the commits today

[2015-10-27 15:03] Huaraz2 commented on #23
4ad79ce1512a63cec75f75b4a2753a8a30925c3e
78008fd9c7f03d471c53bc7e18c44018a723a719
437b8239e1d5926093da8ecf1bc9a2df146ff997
0a3f26495c565917eb9fea031560196d6d2f921c
ca02cd7ee8a97b005f066cbb65448b88d6a6f165
8527206d1bc8b3eaf7a8ddc6effdb104499f3ee4
c1a85391a2049da31ebf34e8870af53b5b89e613
5930653ac9f6b99526cfdcb4157c751371c4ebf7

[2015-10-27 15:12] drvinceknight commented on #23
:+1: :shipit:

On Tue, Oct 27, 2015 at 3:03 PM Adam Pohl <notifications@github.com> wrote:

[2015-11-11 12:10] Huaraz2 opened #24 "WHY?... HOW?...I DON'T UNDERSTAND :cry:"
Why is the code on the C language page appearing in the menu when you scroll past it on the website. I don't remember it doing this when it was first uploaded, @timothyf1 do you think this is a repucusion from @drvinceknight breaking the website the other week when he put up the CoC?

![problem with code on website](https://cloud.githubusercontent.com/assets/8998661/11090833/3ccbf0b6-886d-11e5-8d1

[2015-11-11 12:55] #24 closed

[2015-11-11 13:22] Huaraz2 opened #25 "Websites 'Christmas list'"
Right here goes nothing, there are several things that I think we should do to make the website more useful to everyone else, don't hate me :smile:.

1. languages - the only page with stuff in it in the one on C.
 - [x] - C++ needs to be done as when people think of programming languages they often think of this one first. @chelyabinsk fancy doing this one?
 - [x] - Brainf**k @Aurora256 could you

[2015-11-11 13:25] Huaraz2 commented on #25
:disappointed: you can't assign more than one person to an issue

[2015-11-11 13:37] drvinceknight commented on #25
Great issue @Huaraz2! Let's all chat here and say when we'll work on stuff :+1:

[2015-11-11 13:47] alcarney commented on #25
Also is it about time for an updated Gourd video? Maybe at the end of the semester we make a new one?

[2015-11-11 14:01] drvinceknight commented on #25
Yeah good idea!

On Wed, 11 Nov 2015, 13:47 Alex Carney <notifications@github.com> wrote:

[2015-11-11 14:06] chelyabinsk commented on #25
Yes, I'll do that

[2015-11-11 14:16] Huaraz2 commented on #25
cool

[2015-11-11 14:51] Huaraz2 commented on #25
I have done the draft blog post with 4c2ea507c3dc1f425218b2014e618817b4701b28

[2015-11-11 14:58] alcarney commented on #25
Testing

[  ] Not done
[X] Done

[2015-11-20 09:55] alcarney commented on #25
Would it be good to come up with a list of standard programs that we share code for on each language page, so that it makes it easy for people to compare how the various different languages work?

Then on top of that add more complex programs that demonstrate the "notable features" of each language?

[2015-11-20 10:08] Huaraz2 commented on #25
Sounds like a good idea, what did you have in mind @alcarney?

[2015-11-20 10:14] drvinceknight commented on #25
Something like Fibonacci? Or perhaps (because that's more or less
everywhere) a random walk?

On Fri, Nov 20, 2015 at 10:08 AM Adam Pohl <notifications@github.com> wrote:

[2015-11-20 10:38] alcarney commented on #25
Well how does three programs sound?

One trivial one (Hello world)
One that's not exactly trivial but simple enough to wet your whistle
(Counting the number of lines in a file)

Now the last one I feel should be complicated enough so that you use most
of the standard features of the language but simple enough so that:

- The language's standard library is sufficient
- Fits in a file of reasonable

[2015-11-20 11:57] alcarney opened #36 "Category Menu not Responsive"
As nice as the new category menu is it isn't responsive - see screenshot.

Does anyone know what css magic we need to push the menu either above or below the main content on the page when the screen is too narrow?

![screenshots_2015-11-20-11-50-40](https://cloud.githubusercontent.com/assets/2675694/11299328/ccc51186-8f7d-11e5-91da-6794ced01eb9.png)

[2015-11-20 20:53] drvinceknight commented on #25
This sounds like a great idea. We could have the installation guides for
different OSs as well.

Vince

On Fri, Nov 20, 2015 at 10:38 AM Alex Carney <notifications@github.com>
wrote:

[2015-11-22 19:39] #36 closed

[2015-11-23 18:49] #9 closed

[2015-11-23 18:50] drvinceknight commented on #21
:+1: :shipit:

[2015-11-23 18:50] #21 closed

[2015-12-01 13:49] Huaraz2 commented on #10
Is this issue done with pull request #38?

[2015-12-01 13:57] alcarney commented on #10
Possibly - is this now better placed on the Get involved page as an always open 'issue' since there will always be new tutorials to write?

[2015-12-10 12:04] alcarney opened #70 "Enable `check_html` in our tests"
`html-proofer` allows us to validate the html we generate to make sure it makes sense.

I enabled it locally on my machine and had the following results

![2015-12-10-120249_1280x800_scrot](https://cloud.githubusercontent.com/assets/2675694/11714963/f43dbee4-9f35-11e5-988b-bf0f1c318b6b.png)

As you can see there are many erorrs - mostly extra end tags in unexpected places so it would be good to go

[2015-12-10 20:02] drvinceknight opened #72 "Implement micro workshops"
This is following the discussion we had. I will take this one.

It needs two things:

1. Implement a website section about microworkshops (to announce upcoming ones and possibly a spot for links etc of resources).
2. Come up with a beginning schedule of microworkshops

I'll take this one.

[2015-12-11 14:02] #70 closed

[2015-12-11 15:21] Huaraz2 commented on #20
@hhlorrimore you still need to do your bit

[2015-12-14 16:00] alcarney opened #80 "Get travis to build the website"
Currently when we push changes onto `master` Github then builds the website using it's own Jekyll environment and a small collection of supported gems. They also do not let users execute their own code during this process - rightly so!

However this can be a bit restrictive, for example we recently enabled Jekyll's built in pagination feature to allow us to split up posts on the blog into many pag

[2015-12-15 09:04] drvinceknight commented on #80
This is certainly a possibility.

My suggestion would be to keep things simple (ie not move the building of the site to travis). I'm not sure if there is much to be gained by doing this (sure the pagination would be nice but...).

It's not overly complicated to do but just foreseeing a time when something breaks (not that this is likely) and people don't have expertise or time to fix.

My vote wou

[2015-12-15 09:18] drvinceknight commented on #10
I think we can close this issue. Re open if I'm mistaken.

[2015-12-15 09:18] #10 closed

[2015-12-15 09:20] drvinceknight opened #81 "Include something in README about running tests..."

[2015-12-15 10:18] drvinceknight opened #83 "Workshop about the command line"
On #82 I've suggested that @alcarney runs this. That sound ok Alex?

I'll actually be in Namibia at the time. Again the idea of this would be that each workshop lasts 30 minutes so just covering the very basics.

You could add resources/links whatever to the corresponding workshop file (see #82).

[2015-12-15 10:19] drvinceknight opened #84 "Workshop on git"
As I mentioned on #83 and #82 this is going to be very basic (as it fits in 30 minutes).

@geraintpalmer or @sluenenglish would either of you like to take this one? (If neither of you want it, I could take it.)

[2015-12-15 10:21] drvinceknight opened #85 "Workshop on kivy"
I think @timothyf1 would be best (only?) suited for this, what do you think? Just a quick 30 minutes, "here's the very basic 'hello world' example kind of thing".

[2015-12-15 10:21] drvinceknight opened #86 "Workshop on Django"
Again: simple hello world example: any takers?

[2015-12-15 10:22] drvinceknight opened #87 "Workshop on blender?"
@alcarney ? (Selfishly I'd love to learn about basic video editing with it)

[2015-12-15 10:29] drvinceknight opened #88 "Workshop on Gimp"
Perhaps @hhlorrimore you could give a quick overview of some cool stuff?

See #82 for background and what I say #83 here too (no problem if not interested in doing this).

[2015-12-15 10:48] alcarney commented on #81
There is a mention about running the tests under the Contributing section of the README. Where we say please run the tests before submitting a PR and it gives the command to do so (although it needs to be updated).

Should it be more obvious with neon lights and brass bands though? :p

[2015-12-15 10:51] drvinceknight commented on #81
I think having a subsection or some bold text about **running tests** would do no harm. Also perhaps something about how to get `rake` perhaps?

[2015-12-15 10:56] alcarney commented on #81
Sure :)

As long as `bundle install` works ok then you will have rake since it's
included as a dependency of the website

On Tue, 15 Dec 2015 10:51 Vince Knight <notifications@github.com> wrote:

[2015-12-15 11:02] drvinceknight commented on #81
I think that should be included in the README (although running that broke all the things for me, ended up uninstalling a bunch of stuff, including bundle, my install problem, not an actual issue).

[2015-12-15 11:37] drvinceknight opened #89 "Workshop about irc?"
Irs is an old (but robust) ancestor of things like gitter/slack etc... It's still widely used by coders and is often a great source of help.

If this is of interest I'd be happy to take it.

[2015-12-15 11:50] alcarney commented on #89
:+1: I'd be up for this :)

On Tue, 15 Dec 2015 11:37 Vince Knight <notifications@github.com> wrote:

[2015-12-16 17:05] drvinceknight commented on #83
#82 closes this.

[2015-12-16 17:05] #83 closed

[2016-01-31 17:28] hhlorrimore commented on #88
I can do this, I'll get looking into what I can do, try and learn some cool tricks too :+1:

[2016-01-31 17:38] drvinceknight commented on #88
That would be awesome! :+1:

On Sun, Jan 31, 2016 at 5:28 PM Hannah Lorrimore <notifications@github.com>
wrote:

[2016-01-31 21:26] hhlorrimore commented on #88
Also this could be useful for first years in their project if any of them fancy making some snazzy graphical stuff on a later stage. I mostly used powerpoint but someone more creatively oriented than myself could probably use it to their advantage. So as a side note it could be worth at least mentioning it to them, even if they just want to make edits of you to entertain you at the end of their pr

[2016-02-01 08:30] drvinceknight commented on #88
Yeah: excellent point! I'll be sure to mention it.

[2016-02-02 17:36] alcarney opened #106 "Road to 4.0"
- [x]  Finish implementing themes properly, the entire css for the site needs to be controlled from a single css file generated from sass. The following files still need to be incorporated into this system
    - [x] flexnav.css (fixed in #114)
    - [x] slicknav.css (fixed in #113)
    - [x] sessions.css (fixed in #113)

- [x] Add a "We need you!" poster to pages which are lacking content to try a

[2016-02-02 17:44] #81 closed

[2016-02-03 17:10] alcarney commented on #88
How about once we've had the workshop on this we launch a logo design competition so people have an excuse to use their newfound knowledge?

Winner could have their logo chosen as the new organisation logo?

[2016-02-03 17:18] drvinceknight commented on #88
:+1:

On Wed, 3 Feb 2016, 17:10 Alex Carney <notifications@github.com> wrote:

[2016-02-05 10:10] #80 closed

[2016-02-08 20:38] alcarney commented on #72
So are there any plans for a wrokshop this week?

[2016-02-09 10:10] drvinceknight commented on #72
Django? I can do it, although if someone else wanted to I'd prefer that.

[2016-02-09 10:27] geraintpalmer commented on #72
I'm not here this week. But I don't mind doing a basic git/GitHub one at some point

[2016-02-09 10:36] drvinceknight commented on #72
Sounds great Geraint, perhaps the week after although it might be worth
doing kivy after Django so perhaps the week after that...

On Tue, Feb 9, 2016 at 10:27 AM Geraint Palmer <notifications@github.com>
wrote:

[2016-02-11 07:17] alcarney opened #117 "Fix workshop section of archive page"
It appears that the template code to list upcoming workshops thinks that workshops on the same day as the site is generated have already happened and omits them.

[2016-02-11 07:21] alcarney opened #118 "Move all content to a collection"
In a bid to keep the site consistent I think it would be best if all content on the site used the collection system. Hopefully this will keep template code more straightforward and be easier for new contributors to figure out how the site works

Content to be moved:

- [x] Languages (fixed by #120)
- [x] Editors - should this be renamed to tools to include things like git? (fixed by #123)
- [x] Pr

[2016-02-11 07:37] alcarney opened #119 "Documentation?"
I've been wrestling with this for a while and would like to get people's take on it.

The code club site(and any future projects)  need documentation and where else to put them but on the website?

The problem is how to we organise it on the 'code' side i.e this repository?

- We could have a `_documentation` collection and use a mixture of tags and categories to organise it - however this could b

[2016-02-11 12:20] timothyf1 commented on #118
@alcarney I don't mind doing some of this

[2016-02-11 12:40] alcarney commented on #118
Cool :+1:
Knock yourself out :)

On Thu, 11 Feb 2016 12:20 Timothy Standen <notifications@github.com> wrote:

[2016-02-11 18:27] #118 closed

[2016-02-11 19:02] #106 closed

[2016-02-11 20:19] Huaraz2 opened #130 "Wording of workshops page"
As you can see in the pic below, the wording above the workshops is wrong, I will change this just not sure what to make it as I am not very good with grammer. @drvinceknight what do you think it should be?

![image](https://cloud.githubusercontent.com/assets/8998661/12989235/76a37d40-d0fc-11e5-930e-226002154939.png)

[2016-02-11 20:27] drvinceknight commented on #130
What wording is wrong?

On Thu, 11 Feb 2016, 20:19 Adam Pohl <notifications@github.com> wrote:

[2016-02-11 20:31] Huaraz2 commented on #130
It says here are the upcoming workshops but it shows all of them. I know we only have two butt it is confusing as one was last week.

[2016-02-11 21:12] drvinceknight commented on #130
Ah yeah! Don't worry too much about the grammar, try your best and it can
always be fixed in the pr. :) :shipit:

On Thu, 11 Feb 2016, 20:31 Adam Pohl <notifications@github.com> wrote:

[2016-02-13 16:00] #130 closed

[2016-02-13 20:15] alcarney opened #139 "Depreciate Gists?"
Do we want to remove support for gists on the site? Or at least push for code to be put into the backtick syntax like here on github.

- It would help make the site look more consistent and people have more control over how their themes look
- It might reduce compexity? By keeping code and content all in one place?

[2016-02-13 20:23] alcarney opened #140 "Contributor Profiles?"
Now that we are getting an increasing amout of content that can be generated for the site, do we want to add contributor profiles to site. So that people can click a contributors name and see...

- Any blog posts/tutorials they have made
- Any past session quotes
- Any themes etc they have made for the site

And if they want, contributors could write a short bio to go on their profile also?

[2016-02-14 20:04] Huaraz2 opened #143 "Unable to read words on landing page with new themes"
The landing page with `Geriant's theme`:
![image](https://cloud.githubusercontent.com/assets/8998661/13036027/82d5c94c-d354-11e5-8e71-dd557a044b54.png)

The landing page with `Classic Inverted` theme:
![image](https://cloud.githubusercontent.com/assets/8998661/13036038/bf5e867e-d354-11e5-9add-30aa494739d9.png)

Landing page with `Matrix` theme:
![image](https://cloud.githubusercontent.com/assets/8

[2016-02-14 20:10] alcarney commented on #143
Yup themes need updating to make the landing page readable.

Basically there are two new classes that rules need to be created for

- `landing`: This will affect pretty much the entire page
- `reason`: This will affect each of the "Code club is..." statements

However try importing `_sass/_main/_landiningpage` to each theme that might fix some of them....

[2016-02-14 20:12] Huaraz2 commented on #143
@alcarney Ok will have a look at this in a bit currently doing game theory homework 1

[2016-02-14 20:12] alcarney commented on #143
I'm going to try and create a `_styles` folder that people can grab bits from to style the site using only variables in their main theme file, once in place it should minimise breaking changes on the website

[2016-02-15 10:56] #143 closed

[2016-02-15 11:47] Huaraz2 commented on #140
:+1: :smiling_imp:

[2016-02-15 19:58] Huaraz2 commented on #139
I like this idea, can't read the code in some of the gists with certain themes.

[2016-02-15 19:59] drvinceknight commented on #139
I'm for this :+1:

[2016-02-15 20:00] Huaraz2 commented on #139
I can do this tomorrow

[2016-02-18 16:05] #20 closed

[2016-02-18 16:29] #139 closed

[2016-02-18 17:24] Huaraz2 opened #153 "Code Club Beanies"
@hhlorrimore due to your Amazing knitting abilities, @alcarney has decreed that you shall make us some `Code Club beainies`, they need to have the logo on them.

[2016-02-21 22:50] alcarney opened #166 "Jekyll-paginate needs to go!"
So after a brief degubbing session with @Huaraz2 we have discovered that, while trying to add emoji support to the website (via `jemoji`), we have discovered that it does not play well with `jekyll-paginate` so much so that the site just refuses to build - but only on travis??

While doing some googling I found [this](https://talk.jekyllrb.com/t/announcement-retiring-jekyll-paginate/1004/4) post w

[2016-02-21 22:51] Huaraz2 commented on #166
@alcarney Wondered when this would go up, just found the same page

[2016-02-21 22:55] alcarney commented on #166
@Huaraz2 It's funny that Github never mentioned this when they upgraded pages to 3.0

[2016-02-21 22:55] Huaraz2 commented on #166
@alcarney I know right

[2016-02-22 11:49] Huaraz2 commented on #166
@alcarney We should look at this:
https://github.com/octopress/paginate
It seems to be a good alternative and it may allow for multi language support

[2016-02-22 12:57] alcarney commented on #166
@Huaraz2 unfortantely it's not supported on github pages...
https://pages.github.com/versions/

[2016-02-22 12:58] Huaraz2 commented on #166
@alcarney Oh :disappointed:

[2016-02-25 23:19] bobrocke commented on #166
So, is Jekyll basically losing pagination abilities - at least those supported by GitHub?

I'm surprised, considering how popular Jekyll has become. :(

[2016-02-26 09:08] alcarney commented on #166
@bobrocke As far as I can tell, the Jekyll devs have said that an alternative to `jekyll-paginate` is needed and that they will no longer work on it. It still works for us (just not with `jemoji`) and I wouldn't have thought that Github will stop supporting paginate until its successor has been adopted by the community.

Probably just an over dramatic title on my part :)

[2016-02-26 12:59] bobrocke commented on #166
Sadly. I would have thought pagination to be a core feature. But I'm sure the devs have plenty to do already and this ***is*** an open source project, after all. Too bad I don't have the chops to write a replacement. :(

[2016-02-28 19:21] matthutchings opened #172 "Workshop on MySQL / similar?"
Specifically looking for help with databases and Python, I've heard MySQL might be a good place to start?

[2016-02-29 08:14] drvinceknight commented on #172
This would be interesting to have.

sqlite is the database that comes with python: http://www.python-course.eu/sql_python.php

That might be a good place to start and is indeed where the Django tutorials usually start. Any specific use case?

Re Django this looks quite helpful: https://docs.djangoproject.com/en/1.9/ref/databases/

[2016-02-29 09:10] #86 closed

[2016-02-29 14:28] matthutchings commented on #172
I'm looking to use it with Kivy, basically for a server with login details and character data

[2016-02-29 14:31] drvinceknight commented on #172
Interesting I'd suggest looking in to sqlite and the corresponding Python
tutorials. If you think it'd be useful we could go through one as a
workshop?

On Mon, Feb 29, 2016 at 2:28 PM matthutchings <notifications@github.com>
wrote:

[2016-02-29 14:32] matthutchings commented on #172
I'll have a look into it, thanks. A workshop may be useful if people would be interested?

[2016-03-06 19:41] Huaraz2 opened #178 "Some project links are making page ugly on mobile."
![screenshot_2016-03-06-19-38-31](https://cloud.githubusercontent.com/assets/8998661/13556523/7426ae54-e3d3-11e5-8527-07043318568f.png)

[2016-03-06 20:17] #178 closed

[2016-04-25 12:16] alcarney commented on #72
Closing, since the wrokshop system is now in place

[2016-04-25 12:16] #72 closed

[2016-04-25 20:05] Huaraz2 commented on #87
closing this issue as this has now happened

[2016-04-25 20:05] #87 closed

[2016-04-28 19:55] Huaraz2 commented on #117
@alcarney Is this done yet?

[2016-05-03 09:57] Huaraz2 opened #194 "Emojies for the site"
***IGNORE THIS***
 I am just writing down a couple of repos/sites that might help me achieve emojis for the site.

https://github.com/yihangho/emoji-for-jekyll
https://github.com/planetjekyll/awesome-jekyll-plugins

Will be looking at this on Friday

[2016-05-06 16:46] #194 closed

[2016-05-06 16:48] Huaraz2 commented on #85
@preetiks is the new `kivy` person so have assigned her to it

[2016-05-06 16:52] Huaraz2 commented on #140
will do this after exams

[2016-05-06 18:47] StephanieAngharad opened #196 "Ideas for future code club"
- [ ] Submission page for workshops on site
 - [ ]  Twitter Box
 - [ ]  Compilation of wine glasses for youtube
 - [ ]  gours video
 - [ ]  Django Tutorial on site
 - [ ] Flask Tutorial
 - [ ] Look into making into society
 - [ ] Stickers
 - [ ]  project Elbow
 - [ ]  t-shirts
 - [ ] Freshers Fair

 - [ ] Blender Video

[2016-05-06 19:05] drvinceknight commented on #196
Love all of these. I want to help.

[2016-05-19 17:05] Huaraz2 opened #209 "Can only get to documentation when I add /docs/ to the link"
We need to add a link to the sites documentation somewhere on the site, maybe in the get involved page?

[2016-05-19 17:06] alcarney commented on #209
You can get to the documentation via the code club's website project page

[2016-05-19 17:07] Huaraz2 commented on #209
@alcarney That's cool but I think we need a link somewhere else as well as that is not very obvious

[2016-05-19 17:09] alcarney commented on #209
Well I think adding one to the README would be a good idea.

[2016-05-19 17:10] Huaraz2 commented on #209
@alcarney Very true

[2016-05-19 17:11] alcarney commented on #209
People only really need to get to the documentation if they are going to contribute to the site which means they'll be directed to the README anyway.

Perhaps we could make the project pages more obvious... But they are all accessible straight from the getting involved page

[2016-05-19 17:11] Huaraz2 commented on #209
@alcarney Fair enough alex

[2016-05-19 21:16] #209 closed

[2016-05-19 21:26] #119 closed

[2016-06-15 22:29] #19 closed

[2016-06-15 23:10] alcarney commented on #117
@Huaraz2 yes :metal:

[2016-06-15 23:10] #117 closed

[2016-07-06 07:38] alcarney opened #222 "Project On Ramp"
Listening to the conversation at the start of [this](http://www.codenewbie.org/podcast/creating-emberjs-part-i) podcast really got me thinking. Quite often you hear about the "on ramp" - almost the welcome party for potential new contributors where you guide people through the steps needed to make their first contribution. Not only that but making the project feel approachable in the first place s

[2016-07-06 17:44] alcarney opened #223 "History of the Website App Thingy"
In response to #222 @StephanieAngharad had this to say:

Which got me thinking, we could have a page on the site which gave a sort of timeline of the website with screenshots etc. detailing the development of the site......

Or we could create an almost interactive experience where we have the website's Gource video playing and underneath at specific timestamps we have screenshots and comments app

[2016-07-06 17:47] alcarney commented on #223
Perhaps we could have people provide comments about what they are doing in the video? Make it more personal?

[2016-07-13 16:56] alcarney opened #224 "Making the site bilingual"
It's about time we catered for the Welsh speakers among us - plus maintaining translations etc. should be a nice entry level contribution for people.

The hard part will be setting this us up so that it's easy to keep the internals of both the English and Welsh versions in sync. Off the top of my head we have the following options:

- Probably the 'easiest' way to do this would be to simply copy t

[2016-07-13 17:18] Huaraz2 commented on #224
Am I uderstanding the post correctly, it seems to me as though we need a copy of every page in every language that we want to use, or am I missunderstanding it?

[2016-07-13 17:25] alcarney commented on #224
@Huaraz2 No that's about right - which will be the case for whichever solution we go with

[2016-07-13 18:52] Huaraz2 commented on #224
Ok then this means that we will always need someone who is fluent in at least Welsh (as I asume this will be the first one we translate the site to) as a member of code club as I don't trust google translate that much, I haven't used it for along time so it may have improved the quality of its translation by now.

I sugest that we go with the solution sugested in [this post](https://www.sylvaindur

[2016-07-13 19:42] alcarney commented on #224
Same here, plus I feel it would be cheating anyway :p

Great idea! I know we had a few French and Spanish speakers this year at
least - the more the merrier :D

On Wed, 13 Jul 2016 19:52 Adam Pohl, <notifications@github.com> wrote:

[2016-07-13 19:46] Huaraz2 commented on #224
Meh not so muich as cheating more just taking a shortcut, which may or may not turn out to take longer.

[2016-07-13 19:58] Huaraz2 commented on #224
@alcarney is it possible to atomate github issue creation? ie if we have the site in English, Welsh and Spanish and I add a blogpost that is only in English, then sn issue is created for making a Welsh and Spanish version of my post?

[2016-07-13 20:02] alcarney commented on #224
@Huaraz2 > to automate github issue creation

Yes

But maybe not an issue for every post/page on the site. We could probably set up a monthly issue that tracks blog posts on a monthly basis in a checklist or something.

Then again we probably won't be getting > 5 news posts every month... So *shrug :p

[2016-07-13 20:04] Huaraz2 commented on #224
If we make it into a socety we could do as the more people we have the more likely there will be something to write a post about

[2016-07-13 20:06] Huaraz2 commented on #224
Is there a way to set up a *live* conter oon the site that keeps track of the current no. of issues?

[2016-07-13 20:08] alcarney commented on #224
@Huaraz2 I would think so

[2016-07-14 11:01] geraintpalmer commented on #224
Great idea! My opinion:

This seems like a waste of time. Most bilingual sites I seen make sure menus, titles, buttons etc are bilingual, but content intself (blog posts, news items) just in whatever language it was written in. So like it's be cool to have most things in English, but then now and again put a Welsh/French/etc post up about something specific to that language.

This saves on transla

[2016-07-14 11:06] alcarney commented on #224
@geraintpalmer Perhaps things like blog posts we might not bother with translating. But would it be useful to translate say pages in the reference section?

[2016-07-14 11:23] geraintpalmer commented on #224
Yeah good idea. And make the english page default (within the Welsh framework) if it hasn't been translated yet.

[2016-07-14 11:27] Huaraz2 commented on #224
@geraintpalmer :+1: to this idea

[2016-09-19 22:10] alcarney commented on #25
@Huaraz2 how would you feel is we close this now and open separate issues for the remaining items? It might fit in better with the new project system and it could be easier for people to come along and start picking items to work on

[2016-09-19 22:11] alcarney commented on #140
@Huaraz2 are you still up for doing this?

[2016-09-19 22:13] alcarney opened #226 "Workshop on the Command Line"
New year, hopefully we will have some new members so it might be good to re run a command line workshop relatively early on in the new term

[2016-09-19 22:20] alcarney opened #227 "[Documentation] Liquid template basics"
We need documentation written about the basics of the liquid templating system. This includes:

- The syntax
- Common filters such as `upper`, `date`, `sort` etc.
- Common expressions like `if`, `for` `unless`

**Note:** You can assume the reader will have basic knowledge of HTML

[2016-09-19 22:24] alcarney opened #228 "[Documentation] The base template"
We need to have a document giving an overview of the base template file (`_layouts/base.html`) including:

- What it's responsibilities are
- Which on page elements it defines (menus, footers etc.)
- What YAML frontmatter variables are available to tweak the layout of the page
- The important CSS classes that are defined for theme designers

**Note:** You may assume the reader is familiar with bas

[2016-09-19 22:30] alcarney opened #229 "[Documentation] The blog template"
We need a document giving an overview of of the blog template file (`_layouts/blog.html`) including:

- Which elements on the page is defines (category menu, forward/next buttons etc.)
- How the category menu is generated
- How pagination works
- The important CSS classes that are defined for theme designers

**Note:** You may assume that the reader is familiar with basic HTML and Liquid syntax

[2016-09-19 22:35] alcarney opened #230 "[Documentation] The post template"
We need to have a document giving an overview of the post template file (`_layout/post.html`) incuding:

- What elements it defines on the page (comments etc.)
- What YAML frontmatter variables are available to tweak the layout
- The important CSS classes that are defined for theme designers

**Note:** You may assume that the reader is familiar with basic HTML and Liquid syntax

[2016-09-19 22:40] alcarney opened #231 "[Documentation] The project template"
We need a document giving an overview of the project template file (`_layouts/project.html`) including:

- What elements on the page it defines (news links, project links etc.)
- How the news and tutorial links are generated
- The important CSS classes defined for theme designers

**Note:** You may assume that the reader is familiar with basic HTML and Liquid syntax

[2016-09-19 22:45] alcarney opened #232 "[Documentation] The reference template"
We need to have a document giving an overview of the reference template file (`_layout/reference.html`) including:

- What elements it defines on the page (tutorial links etc.)
- How the 'We need you!' poster is activated
- How the getting started and general tutorial links are generated
- The important CSS classes defined for theme designers

**Note:** You may assume the reader is familiar with b

[2016-09-19 22:58] #223 closed

[2016-09-19 23:04] alcarney opened #233 "[Tutorial]: How to contribute documentation"
We need a tutorial outlining how to contribute to the documentation, including:

- Providing links to references on markdown
- Outlining how the documentation is organised
- Making changes to existing documentation
- Contributing new pieces of documentation

[2016-09-19 23:23] alcarney opened #234 "[Theme Style]: Past Sessions"
In an effort to make themes easier to get started with it would be good to have a style that people can import to their theme and set a few variables to easily change the look of a section of the site. The Past Sessions style file should include:

- Styles to set the look of the session title, author's name, the quote etc.
- Styles to set the look of the Semester and Year titles
- Styles to set th

[2016-09-19 23:26] alcarney opened #235 "[Tutorial]: How to contribute theme styles"
We need a tutorial outlining how to contribute a theme style, including:

- Providing links to references on CSS and SASS
- Outline the purpose of a style and how it should behave
- How it fits into the theme system
- How to modify an existing theme style
- How to contribute new theme styles

[2016-09-19 23:38] alcarney opened #236 "[Tutorial] How to contribute theme layouts"
We need a tutorial outlining how to contribute a theme layout, including:

- Providing links to CSS and SASS resources
- Outlining the purpose of a layout and the responsibilities of a layout (e.g. being responsive)
- How it fits in the theme system
- How to modify existing layouts
- How to contribute new layouts

[2016-09-19 23:49] alcarney opened #237 "Refactor css layouts again?"
During the previous css refactor, we were able to split the layout css from the css which gives the site it look. - Which allowed us to create the theme system we have in use today. However the results were not perfect.

Have you ever looked at the contents of the `_sass/layouts/` folder?... It's a scary place and definitely not the easiest of beasts to maintain. How would people feel about implem

[2016-09-19 23:53] alcarney opened #238 "[Tutorial]: Up and running"
We need a tutorial outlining how first time contributors get a local copy of the website running on their machine. It should include:

- Showing people how to sign up to github, fork the repository and clone a local copy
- Installing dependencies (or docker) and other setup
- Running Jekyll serve and opening localhost in the browser

[2016-09-19 23:57] alcarney opened #239 "[Tutorial]: First time contributors"
We need a tutorial showing first time contributors how to make their first contribution to the website. It should include:

- Making a small change to their local copy of the site - perhaps adding their name to the list of contributors
- Commiting the change to their local repository
- Running the tests
- Pushing the change to their fork
- The process of opening a pull request
- Outline the review

[2016-09-26 21:12] #25 closed

[2016-09-26 21:13] Huaraz2 commented on #140
@alcarney I have a basic idea which I may put up soon and then leave it to you guys to mess around with it.

[2016-10-07 11:24] Huaraz2 commented on #226
Do you think it is possible to record these as I feel doing the same workshops every year could become boring and may lead us to lose members.

[2016-10-07 11:26] alcarney commented on #226
@Huaraz2 I think it would always be good to run them as newer people would be able to benefit from having someone there to ask questions of as they go along.

Plus having members who have already gone through this many times isn't a problem we have at the moment :p

[2016-10-07 11:29] Huaraz2 commented on #238
Probably best to make a video of this, similar to Vince's hint videos,  and add it to the end of the tutorial as this would help explain it better I think.

[2016-10-07 11:31] Huaraz2 commented on #226
True but if we have a couple of 'basic' workshop videos up on the site then it may mean that people ask for more interesting workshops which in turn could attract more people to code club

[2016-10-07 11:32] Huaraz2 commented on #226
And it could help break down the barrier that code club is really only for people that are really good at computer programming

[2016-10-07 11:36] alcarney commented on #226
I suppose we could make screencasts like the ones you mentioned for #238 they could be up on the site for whenever people are around, but If people would like a workshop run as well we could always schedule one.

[2016-10-07 11:38] alcarney opened #240 "[Reference]: Python Page"
It would be good to have a page in the reference section giving an overview of the language, similar to the ones we already have. Some sections that could be included are:

- A brief history of the language and where it came from.
- Some example applications that have been developed with it
- Some basic code examples
- Links to useful tools and libraries

[2016-10-07 11:45] Huaraz2 commented on #226
@alcarney That was what I meant, just because we have these videos up doesn't mean that we can't do the workshop again, it just means that there is more of a possibility that people could ask for more advanced workshops, like your blender one for example

[2016-10-07 11:46] alcarney commented on #226
@Huaraz2 I see, my bad

[2016-10-07 11:48] Huaraz2 commented on #226
@alcarney I think it was my fault, don't think I explained myself clearly enough

[2016-10-26 14:37] #153 closed